################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LearnAI/.vs
/LearnAI/CallAIApi/bin/Debug/net10.0
/LearnAI/CallAIApi/obj
/LearnAI/CallLocalAIApi/bin/Debug/net10.0
/LearnAI/CallLocalAIApi/obj
/LearnAI/CallLocalAIByMS/bin/Debug/net10.0
/LearnAI/CallLocalAIByMS/obj
